body {
  background-color: #282828;
  color: #c2d6e6;
  font-family: 'VT323', monospace;
  font-size: 2.5em;
  padding: 0 1em;
  max-width: 50%;
}

.wrapper {
  text-align: center;
}

.inset {
  display: inline-block;
}

a {
  color: #657b83;
}

a:hover {
  color: #c8a0d1;
}

a:visited {
  color: #9cd9f0;
}

a:active {
  color: #657b83;
}

hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 6px dashed #ccc;
    margin: 1em 0;
    padding: 0;
}
